$icomoon-font-path: "fonts" !default;

$sldsicon-utility-activity: "\e900";
$sldsicon-utility-ad_set: "\e901";
$sldsicon-utility-add: "\e902";
$sldsicon-utility-adduser: "\e903";
$sldsicon-utility-anchor: "\e904";
$sldsicon-utility-animal_and_nature: "\e905";
$sldsicon-utility-announcement: "\e906";
$sldsicon-utility-answer: "\e907";
$sldsicon-utility-answered_twice: "\e908";
$sldsicon-utility-apex: "\e909";
$sldsicon-utility-approval: "\e90a";
$sldsicon-utility-apps: "\e90b";
$sldsicon-utility-arrowdown: "\e90c";
$sldsicon-utility-arrowup: "\e90d";
$sldsicon-utility-attach: "\e90e";
$sldsicon-utility-automate: "\e90f";
$sldsicon-utility-back: "\e910";
$sldsicon-utility-ban: "\e911";
$sldsicon-utility-block_visitor: "\e912";
$sldsicon-utility-bold: "\e913";
$sldsicon-utility-bookmark: "\e914";
$sldsicon-utility-breadcrumbs: "\e915";
$sldsicon-utility-broadcast: "\e916";
$sldsicon-utility-brush: "\e917";
$sldsicon-utility-bucket: "\e918";
$sldsicon-utility-builder: "\e919";
$sldsicon-utility-call: "\e91a";
$sldsicon-utility-campaign: "\e91b";
$sldsicon-utility-cancel_file_request: "\e91c";
$sldsicon-utility-cancel_transfer: "\e91d";
$sldsicon-utility-capslock: "\e91e";
$sldsicon-utility-case: "\e91f";
$sldsicon-utility-cases: "\e920";
$sldsicon-utility-center_align_text: "\e921";
$sldsicon-utility-change_owner: "\e922";
$sldsicon-utility-change_record_type: "\e923";
$sldsicon-utility-chart: "\e924";
$sldsicon-utility-chat: "\e925";
$sldsicon-utility-check: "\e926";
$sldsicon-utility-checkin: "\e927";
$sldsicon-utility-chevrondown: "\e928";
$sldsicon-utility-chevronleft: "\e929";
$sldsicon-utility-chevronright: "\e92a";
$sldsicon-utility-chevronup: "\e92b";
$sldsicon-utility-classic_interface: "\e92c";
$sldsicon-utility-clear: "\e92d";
$sldsicon-utility-clock: "\e92e";
$sldsicon-utility-close: "\e92f";
$sldsicon-utility-collapse_all: "\e930";
$sldsicon-utility-comments: "\e931";
$sldsicon-utility-company: "\e932";
$sldsicon-utility-connected_apps: "\e933";
$sldsicon-utility-contract_alt: "\e934";
$sldsicon-utility-contract: "\e935";
$sldsicon-utility-copy_to_clipboard: "\e936";
$sldsicon-utility-copy: "\e937";
$sldsicon-utility-crossfilter: "\e938";
$sldsicon-utility-custom_apps: "\e939";
$sldsicon-utility-cut: "\e93a";
$sldsicon-utility-dash: "\e93b";
$sldsicon-utility-database: "\e93c";
$sldsicon-utility-datadotcom: "\e93d";
$sldsicon-utility-dayview: "\e93e";
$sldsicon-utility-delete: "\e93f";
$sldsicon-utility-deprecate: "\e940";
$sldsicon-utility-description: "\e941";
$sldsicon-utility-desktop: "\e942";
$sldsicon-utility-dislike: "\e943";
$sldsicon-utility-dock_panel: "\e944";
$sldsicon-utility-down: "\e945";
$sldsicon-utility-download: "\e946";
$sldsicon-utility-edit_form: "\e947";
$sldsicon-utility-edit: "\e948";
$sldsicon-utility-email: "\e949";
$sldsicon-utility-emoji: "\e94a";
$sldsicon-utility-end_call: "\e94b";
$sldsicon-utility-end_chat: "\e94c";
$sldsicon-utility-erect_window: "\e94d";
$sldsicon-utility-error: "\e94e";
$sldsicon-utility-event: "\e94f";
$sldsicon-utility-expand_all: "\e950";
$sldsicon-utility-expand_alt: "\e951";
$sldsicon-utility-expand: "\e952";
$sldsicon-utility-fallback: "\e953";
$sldsicon-utility-favorite: "\e954";
$sldsicon-utility-feed: "\e955";
$sldsicon-utility-file: "\e956";
$sldsicon-utility-filter: "\e957";
$sldsicon-utility-filterList: "\e958";
$sldsicon-utility-flow: "\e959";
$sldsicon-utility-food_and_drink: "\e95a";
$sldsicon-utility-forward: "\e95b";
$sldsicon-utility-frozen: "\e95c";
$sldsicon-utility-full_width_view: "\e95d";
$sldsicon-utility-graph: "\e95e";
$sldsicon-utility-groups: "\e95f";
$sldsicon-utility-help: "\e960";
$sldsicon-utility-hide: "\e961";
$sldsicon-utility-home: "\e962";
$sldsicon-utility-identity: "\e963";
$sldsicon-utility-image: "\e964";
$sldsicon-utility-inbox: "\e965";
$sldsicon-utility-info_alt: "\e966";
$sldsicon-utility-info: "\e967";
$sldsicon-utility-insert_tag_field: "\e968";
$sldsicon-utility-insert_template: "\e969";
$sldsicon-utility-internal_share: "\e96a";
$sldsicon-utility-italic: "\e96b";
$sldsicon-utility-jump_to_bottom: "\e96c";
$sldsicon-utility-jump_to_top: "\e96d";
$sldsicon-utility-justify_text: "\e96e";
$sldsicon-utility-kanban: "\e96f";
$sldsicon-utility-keyboard_dismiss: "\e970";
$sldsicon-utility-knowledge_base: "\e971";
$sldsicon-utility-layers: "\e972";
$sldsicon-utility-layout: "\e973";
$sldsicon-utility-left_align_text: "\e974";
$sldsicon-utility-left: "\e975";
$sldsicon-utility-level_up: "\e976";
$sldsicon-utility-light_bulb: "\e977";
$sldsicon-utility-like: "\e978";
$sldsicon-utility-link: "\e979";
$sldsicon-utility-list: "\e97a";
$sldsicon-utility-location: "\e97b";
$sldsicon-utility-lock: "\e97c";
$sldsicon-utility-log_a_call: "\e97d";
$sldsicon-utility-logout: "\e97e";
$sldsicon-utility-lower_flag: "\e97f";
$sldsicon-utility-macros: "\e980";
$sldsicon-utility-magicwand: "\e981";
$sldsicon-utility-mark_all_as_read: "\e982";
$sldsicon-utility-matrix: "\e983";
$sldsicon-utility-merge_field: "\e984";
$sldsicon-utility-merge: "\e985";
$sldsicon-utility-metrics: "\e986";
$sldsicon-utility-minimize_window: "\e987";
$sldsicon-utility-moneybag: "\e988";
$sldsicon-utility-monthlyview: "\e989";
$sldsicon-utility-move: "\e98a";
$sldsicon-utility-muted: "\e98b";
$sldsicon-utility-new_direct_message: "\e98c";
$sldsicon-utility-new_window: "\e98d";
$sldsicon-utility-new: "\e98e";
$sldsicon-utility-news: "\e98f";
$sldsicon-utility-note: "\e990";
$sldsicon-utility-notebook: "\e991";
$sldsicon-utility-notification: "\e992";
$sldsicon-utility-office365: "\e993";
$sldsicon-utility-offline_cached: "\e994";
$sldsicon-utility-offline: "\e995";
$sldsicon-utility-omni_channel: "\e996";
$sldsicon-utility-open_folder: "\e997";
$sldsicon-utility-open: "\e998";
$sldsicon-utility-opened_folder: "\e999";
$sldsicon-utility-overflow: "\e99a";
$sldsicon-utility-package_org_beta: "\e99b";
$sldsicon-utility-package_org: "\e99c";
$sldsicon-utility-package: "\e99d";
$sldsicon-utility-page: "\e99e";
$sldsicon-utility-palette: "\e99f";
$sldsicon-utility-paste: "\e9a0";
$sldsicon-utility-pause: "\e9a1";
$sldsicon-utility-people: "\e9a2";
$sldsicon-utility-phone_landscape: "\e9a3";
$sldsicon-utility-phone_portrait: "\e9a4";
$sldsicon-utility-photo: "\e9a5";
$sldsicon-utility-picklist: "\e9a6";
$sldsicon-utility-pin: "\e9a7";
$sldsicon-utility-pinned: "\e9a8";
$sldsicon-utility-power: "\e9a9";
$sldsicon-utility-preview: "\e9aa";
$sldsicon-utility-priority: "\e9ab";
$sldsicon-utility-privately_shared: "\e9ac";
$sldsicon-utility-process: "\e9ad";
$sldsicon-utility-push: "\e9ae";
$sldsicon-utility-puzzle: "\e9af";
$sldsicon-utility-question_mark: "\e9b0";
$sldsicon-utility-question: "\e9b1";
$sldsicon-utility-questions_and_answers: "\e9b2";
$sldsicon-utility-quick_text: "\e9b3";
$sldsicon-utility-quotation_marks: "\e9b4";
$sldsicon-utility-rating: "\e9b6";
$sldsicon-utility-record_create: "\e9b7";
$sldsicon-utility-record: "\e9b8";
$sldsicon-utility-redo: "\e9b9";
$sldsicon-utility-refresh: "\e9ba";
$sldsicon-utility-relate: "\e9bb";
$sldsicon-utility-reminder: "\e9bc";
$sldsicon-utility-remove_formatting: "\e9bd";
$sldsicon-utility-remove_link: "\e9be";
$sldsicon-utility-replace: "\e9bf";
$sldsicon-utility-reply_all: "\e9c0";
$sldsicon-utility-reply: "\e9c1";
$sldsicon-utility-reset_password: "\e9c2";
$sldsicon-utility-resource_absence: "\e9c3";
$sldsicon-utility-resource_capacity: "\e9c4";
$sldsicon-utility-resource_territory: "\e9c5";
$sldsicon-utility-retweet: "\e9c6";
$sldsicon-utility-richtextbulletedlist: "\e9c7";
$sldsicon-utility-richtextindent: "\e9c8";
$sldsicon-utility-richtextnumberedlist: "\e9c9";
$sldsicon-utility-richtextoutdent: "\e9ca";
$sldsicon-utility-right_align_text: "\e9cb";
$sldsicon-utility-right: "\e9cc";
$sldsicon-utility-rotate: "\e9cd";
$sldsicon-utility-rows: "\e9ce";
$sldsicon-utility-rules: "\e9cf";
$sldsicon-utility-salesforce1: "\e9d0";
$sldsicon-utility-save: "\e9d1";
$sldsicon-utility-search: "\e9d2";
$sldsicon-utility-settings: "\e9d3";
$sldsicon-utility-setup_assistant_guide: "\e9d4";
$sldsicon-utility-setup: "\e9d5";
$sldsicon-utility-share_file: "\e9d6";
$sldsicon-utility-share_mobile: "\e9d7";
$sldsicon-utility-share_post: "\e9d8";
$sldsicon-utility-share: "\e9d9";
$sldsicon-utility-shield: "\e9da";
$sldsicon-utility-shopping_bag: "\e9db";
$sldsicon-utility-side_list: "\e9dc";
$sldsicon-utility-signpost: "\e9dd";
$sldsicon-utility-smiley_and_people: "\e9de";
$sldsicon-utility-sms: "\e9df";
$sldsicon-utility-snippet: "\e9e0";
$sldsicon-utility-socialshare: "\e9e1";
$sldsicon-utility-sort: "\e9e2";
$sldsicon-utility-spinner: "\e9e3";
$sldsicon-utility-standard_objects: "\e9e4";
$sldsicon-utility-stop: "\e9e5";
$sldsicon-utility-strikethrough: "\e9e6";
$sldsicon-utility-success: "\e9e7";
$sldsicon-utility-summary: "\e9e8";
$sldsicon-utility-summarydetail: "\e9e9";
$sldsicon-utility-switch: "\e9ea";
$sldsicon-utility-symbols: "\e9eb";
$sldsicon-utility-sync: "\e9ec";
$sldsicon-utility-table: "\e9ed";
$sldsicon-utility-tablet_landscape: "\e9ee";
$sldsicon-utility-tablet_portrait: "\e9ef";
$sldsicon-utility-tabset: "\e9f0";
$sldsicon-utility-task: "\e9f1";
$sldsicon-utility-text_background_color: "\e9f2";
$sldsicon-utility-text_color: "\e9f3";
$sldsicon-utility-threedots_vertical: "\e9f4";
$sldsicon-utility-threedots: "\e9f5";
$sldsicon-utility-thunder: "\e9f6";
$sldsicon-utility-tile_card_list: "\e9f7";
$sldsicon-utility-topic: "\e9f8";
$sldsicon-utility-touch_action: "\e9f9";
$sldsicon-utility-trail: "\e9fa";
$sldsicon-utility-travel_and_places: "\e9fb";
$sldsicon-utility-trending: "\e9fc";
$sldsicon-utility-turn_off_notifications: "\e9fd";
$sldsicon-utility-type_tool: "\e9fe";
$sldsicon-utility-undelete: "\e9ff";
$sldsicon-utility-undeprecate: "\ea00";
$sldsicon-utility-underline: "\ea01";
$sldsicon-utility-undo: "\ea02";
$sldsicon-utility-unlock: "\ea03";
$sldsicon-utility-unmuted: "\ea04";
$sldsicon-utility-up: "\ea05";
$sldsicon-utility-upload: "\ea06";
$sldsicon-utility-user_role: "\ea07";
$sldsicon-utility-user: "\ea08";
$sldsicon-utility-video: "\ea09";
$sldsicon-utility-voicemail_drop: "\ea0a";
$sldsicon-utility-volume_high: "\ea0b";
$sldsicon-utility-volume_low: "\ea0c";
$sldsicon-utility-volume_off: "\ea0d";
$sldsicon-utility-warning: "\ea0e";
$sldsicon-utility-weeklyview: "\ea0f";
$sldsicon-utility-wifi: "\ea10";
$sldsicon-utility-work_order_type: "\ea11";
$sldsicon-utility-world: "\ea12";
$sldsicon-utility-yubi_key: "\ea13";
$sldsicon-utility-zoomin: "\ea14";
$sldsicon-utility-zoomout: "\ea15";
$sldsicon-standard-account: "\ea16";
$sldsicon-standard-address: "\ea17";
$sldsicon-standard-announcement2: "\ea18";
$sldsicon-standard-answer_best: "\ea19";
$sldsicon-standard-answer_private: "\ea1b";
$sldsicon-standard-answer_public: "\ea1e";
$sldsicon-standard-approval2: "\ea1f";
$sldsicon-standard-apps_admin: "\ea20";
$sldsicon-standard-apps2: "\ea21";
$sldsicon-standard-article: "\ea22";
$sldsicon-standard-asset_relationship: "\ea23";
$sldsicon-standard-assigned_resource: "\ea24";
$sldsicon-standard-avatar_loading: "\ea25";
$sldsicon-standard-avatar: "\ea26";
$sldsicon-standard-bot: "\ea27";
$sldsicon-standard-business_hours: "\ea28";
$sldsicon-standard-calibration: "\ea29";
$sldsicon-standard-call_history: "\ea2a";
$sldsicon-standard-call2: "\ea2b";
$sldsicon-standard-campaign_members: "\ea2c";
$sldsicon-standard-campaign2: "\ea2e";
$sldsicon-standard-canvas: "\ea2f";
$sldsicon-standard-carousel: "\ea30";
$sldsicon-standard-case_change_status: "\ea31";
$sldsicon-standard-case_comment: "\ea32";
$sldsicon-standard-case_email: "\ea33";
$sldsicon-standard-case_log_a_call: "\ea34";
$sldsicon-standard-case_milestone: "\ea35";
$sldsicon-standard-case_transcript: "\ea36";
$sldsicon-standard-case2: "\ea37";
$sldsicon-standard-client: "\ea38";
$sldsicon-standard-cms: "\ea39";
$sldsicon-standard-coaching: "\ea3a";
$sldsicon-standard-connected_apps2: "\ea3b";
$sldsicon-standard-contact_list: "\ea3c";
$sldsicon-standard-contact: "\ea3d";
$sldsicon-standard-contract_line_item: "\ea3e";
$sldsicon-standard-contract2: "\ea3f";
$sldsicon-standard-custom_notification: "\ea40";
$sldsicon-standard-custom: "\ea41";
$sldsicon-standard-dashboard: "\ea42";
$sldsicon-standard-datadotcom2: "\ea43";
$sldsicon-standard-default: "\ea44";
$sldsicon-standard-document: "\ea45";
$sldsicon-standard-drafts: "\ea46";
$sldsicon-standard-email_chatter: "\ea47";
$sldsicon-standard-email2: "\ea48";
$sldsicon-standard-empty: "\ea49";
$sldsicon-standard-endorsement: "\ea4a";
$sldsicon-standard-entitlement_process: "\ea4b";
$sldsicon-standard-entitlement_template: "\ea4c";
$sldsicon-standard-entitlement: "\ea4d";
$sldsicon-standard-entity_milestone: "\ea4e";
$sldsicon-standard-entity: "\ea4f";
$sldsicon-standard-environment_hub: "\ea50";
$sldsicon-standard-event2: "\ea51";
$sldsicon-standard-feed2: "\ea52";
$sldsicon-standard-feedback: "\ea53";
$sldsicon-standard-file2: "\ea54";
$sldsicon-standard-flow2: "\ea55";
$sldsicon-standard-folder: "\ea56";
$sldsicon-standard-forecasts: "\ea57";
$sldsicon-standard-generic_loading: "\ea58";
$sldsicon-standard-goals: "\ea59";
$sldsicon-standard-group_loading: "\ea5a";
$sldsicon-standard-groups2: "\ea5b";
$sldsicon-standard-hierarchy: "\ea5c";
$sldsicon-standard-home2: "\ea5d";
$sldsicon-standard-household: "\ea5e";
$sldsicon-standard-insights: "\ea5f";
$sldsicon-standard-investment_account: "\ea60";
$sldsicon-standard-lead_insights: "\ea61";
$sldsicon-standard-lead_list: "\ea62";
$sldsicon-standard-lead: "\ea63";
$sldsicon-standard-link2: "\ea64";
$sldsicon-standard-list_email: "\ea65";
$sldsicon-standard-live_chat: "\ea66";
$sldsicon-standard-location2: "\ea67";
$sldsicon-standard-log_a_call2: "\ea68";
$sldsicon-standard-macros2: "\ea69";
$sldsicon-standard-maintenance_asset: "\ea6a";
$sldsicon-standard-maintenance_plan: "\ea6b";
$sldsicon-standard-marketing_actions: "\ea6c";
$sldsicon-standard-merge2: "\ea6d";
$sldsicon-standard-metrics2: "\ea6e";
$sldsicon-standard-news2: "\ea6f";
$sldsicon-standard-note2: "\ea70";
$sldsicon-standard-omni_supervisor: "\ea71";
$sldsicon-standard-operating_hours: "\ea72";
$sldsicon-standard-opportunity_splits: "\ea73";
$sldsicon-standard-opportunity: "\ea74";
$sldsicon-standard-orders: "\ea75";
$sldsicon-standard-people2: "\ea76";
$sldsicon-standard-performance: "\ea77";
$sldsicon-standard-person_account: "\ea78";
$sldsicon-standard-photo2: "\ea79";
$sldsicon-standard-poll: "\ea7a";
$sldsicon-standard-portal: "\ea7b";
$sldsicon-standard-post: "\ea7c";
$sldsicon-standard-pricebook: "\ea7d";
$sldsicon-standard-process2: "\ea7e";
$sldsicon-standard-product_consumed: "\ea7f";
$sldsicon-standard-product_item_transaction: "\ea80";
$sldsicon-standard-product_item: "\ea81";
$sldsicon-standard-product_request_line_item: "\ea82";
$sldsicon-standard-product_request: "\ea83";
$sldsicon-standard-product_required: "\ea84";
$sldsicon-standard-product_transfer: "\ea85";
$sldsicon-standard-product: "\ea86";
$sldsicon-standard-question_best: "\ea87";
$sldsicon-standard-question_feed: "\ea89";
$sldsicon-standard-quick_text2: "\ea8a";
$sldsicon-standard-quip_sheet: "\ea8b";
$sldsicon-standard-quip: "\ea8c";
$sldsicon-standard-quotes: "\ea8d";
$sldsicon-standard-recent: "\ea8e";
$sldsicon-standard-record2: "\ea8f";
$sldsicon-standard-related_list: "\ea90";
$sldsicon-standard-relationship: "\ea91";
$sldsicon-standard-report: "\ea92";
$sldsicon-standard-resource_absence2: "\ea93";
$sldsicon-standard-resource_capacity2: "\ea94";
$sldsicon-standard-resource_preference: "\ea95";
$sldsicon-standard-resource_skill: "\ea96";
$sldsicon-standard-reward: "\ea97";
$sldsicon-standard-rtc_presence: "\ea98";
$sldsicon-standard-sales_path: "\ea99";
$sldsicon-standard-scan_card: "\ea9a";
$sldsicon-standard-service_appointment: "\ea9b";
$sldsicon-standard-service_contract: "\ea9c";
$sldsicon-standard-service_crew_member: "\ea9d";
$sldsicon-standard-service_crew: "\ea9e";
$sldsicon-standard-service_report: "\ea9f";
$sldsicon-standard-service_resource: "\eaa0";
$sldsicon-standard-service_territory_location: "\eaa1";
$sldsicon-standard-service_territory_member: "\eaa2";
$sldsicon-standard-service_territory: "\eaa3";
$sldsicon-standard-shipment: "\eaa4";
$sldsicon-standard-skill_entity: "\eaa5";
$sldsicon-standard-skill_requirement: "\eaa6";
$sldsicon-standard-skill: "\eaa7";
$sldsicon-standard-social: "\eaa8";
$sldsicon-standard-solution: "\eaa9";
$sldsicon-standard-sossession: "\eaaa";
$sldsicon-standard-task2: "\eaab";
$sldsicon-standard-task22: "\eaac";
$sldsicon-standard-team_member: "\eaad";
$sldsicon-standard-template: "\eaae";
$sldsicon-standard-thanks_loading: "\eaaf";
$sldsicon-standard-thanks: "\eab0";
$sldsicon-standard-timesheet_entry: "\eab1";
$sldsicon-standard-timesheet: "\eab2";
$sldsicon-standard-timeslot: "\eab3";
$sldsicon-standard-today: "\eab4";
$sldsicon-standard-topic2: "\eab5";
$sldsicon-standard-topic22: "\eab6";
$sldsicon-standard-unmatched: "\eab7";
$sldsicon-standard-user2: "\eab8";
$sldsicon-standard-work_order_item: "\eab9";
$sldsicon-standard-work_order: "\eaba";
$sldsicon-standard-work_type: "\eabb";
$sldsicon-doctype-ai-path1: "\ebe3";
$sldsicon-doctype-ai-path2: "\ebe4";
$sldsicon-doctype-ai-path3: "\ebe5";
$sldsicon-doctype-ai-path4: "\ebe6";
$sldsicon-doctype-attachment-path1: "\ebe7";
$sldsicon-doctype-attachment-path2: "\ebe8";
$sldsicon-doctype-attachment-path3: "\ebe9";
$sldsicon-doctype-attachment-path4: "\ebea";
$sldsicon-doctype-audio-path1: "\ebeb";
$sldsicon-doctype-audio-path2: "\ebec";
$sldsicon-doctype-audio-path3: "\ebed";
$sldsicon-doctype-audio-path4: "\ebee";
$sldsicon-doctype-box_notes-path1: "\ebef";
$sldsicon-doctype-box_notes-path2: "\ebf0";
$sldsicon-doctype-box_notes-path3: "\ebf1";
$sldsicon-doctype-box_notes-path4: "\ebf2";
$sldsicon-doctype-csv-path1: "\ebf3";
$sldsicon-doctype-csv-path2: "\ebf4";
$sldsicon-doctype-csv-path3: "\ebf5";
$sldsicon-doctype-csv-path4: "\ebf6";
$sldsicon-doctype-eps-path1: "\ebf7";
$sldsicon-doctype-eps-path2: "\ebf8";
$sldsicon-doctype-eps-path3: "\ebf9";
$sldsicon-doctype-eps-path4: "\ebfa";
$sldsicon-doctype-excel-path1: "\ebfb";
$sldsicon-doctype-excel-path2: "\ebfc";
$sldsicon-doctype-excel-path3: "\ebfd";
$sldsicon-doctype-excel-path4: "\ebfe";
$sldsicon-doctype-exe-path1: "\ebff";
$sldsicon-doctype-exe-path2: "\ec00";
$sldsicon-doctype-exe-path3: "\ec01";
$sldsicon-doctype-exe-path4: "\ec02";
$sldsicon-doctype-flash-path1: "\ec03";
$sldsicon-doctype-flash-path2: "\ec04";
$sldsicon-doctype-flash-path3: "\ec05";
$sldsicon-doctype-flash-path4: "\ec06";
$sldsicon-doctype-folder2-path1: "\ec07";
$sldsicon-doctype-folder2-path2: "\ec08";
$sldsicon-doctype-folder2-path3: "\ec09";
$sldsicon-doctype-gdoc-path1: "\ec0a";
$sldsicon-doctype-gdoc-path2: "\ec0b";
$sldsicon-doctype-gdoc-path3: "\ec0c";
$sldsicon-doctype-gdoc-path4: "\ec0d";
$sldsicon-doctype-gdocs-path1: "\ec0e";
$sldsicon-doctype-gdocs-path2: "\ec0f";
$sldsicon-doctype-gdocs-path3: "\ec10";
$sldsicon-doctype-gdocs-path4: "\ec11";
$sldsicon-doctype-gform-path1: "\ec12";
$sldsicon-doctype-gform-path2: "\ec13";
$sldsicon-doctype-gform-path3: "\ec14";
$sldsicon-doctype-gform-path4: "\ec15";
$sldsicon-doctype-gpres-path1: "\ec16";
$sldsicon-doctype-gpres-path2: "\ec17";
$sldsicon-doctype-gpres-path3: "\ec18";
$sldsicon-doctype-gpres-path4: "\ec19";
$sldsicon-doctype-gsheet-path1: "\ec1a";
$sldsicon-doctype-gsheet-path2: "\ec1b";
$sldsicon-doctype-gsheet-path3: "\ec1c";
$sldsicon-doctype-gsheet-path4: "\ec1d";
$sldsicon-doctype-html-path1: "\ec1e";
$sldsicon-doctype-html-path2: "\ec1f";
$sldsicon-doctype-html-path3: "\ec20";
$sldsicon-doctype-html-path4: "\ec21";
$sldsicon-doctype-image2-path1: "\ec22";
$sldsicon-doctype-image2-path2: "\ec23";
$sldsicon-doctype-image2-path3: "\ec24";
$sldsicon-doctype-image2-path4: "\ec25";
$sldsicon-doctype-keynote-path1: "\ec26";
$sldsicon-doctype-keynote-path2: "\ec27";
$sldsicon-doctype-keynote-path3: "\ec28";
$sldsicon-doctype-keynote-path4: "\ec29";
$sldsicon-doctype-library_folder-path1: "\ec2a";
$sldsicon-doctype-library_folder-path2: "\ec2b";
$sldsicon-doctype-library_folder-path3: "\ec2c";
$sldsicon-doctype-library_folder-path4: "\ec2d";
$sldsicon-doctype-link3-path1: "\ec2e";
$sldsicon-doctype-link3-path2: "\ec2f";
$sldsicon-doctype-link3-path3: "\ec30";
$sldsicon-doctype-link3-path4: "\ec31";
$sldsicon-doctype-mp4-path1: "\ec32";
$sldsicon-doctype-mp4-path2: "\ec33";
$sldsicon-doctype-mp4-path3: "\ec34";
$sldsicon-doctype-mp4-path4: "\ec35";
$sldsicon-doctype-overlay-path1: "\ec36";
$sldsicon-doctype-overlay-path2: "\ec37";
$sldsicon-doctype-overlay-path3: "\ec38";
$sldsicon-doctype-overlay-path4: "\ec39";
$sldsicon-doctype-overlay-path5: "\ec3a";
$sldsicon-doctype-pack-path1: "\ec3b";
$sldsicon-doctype-pack-path2: "\ec3c";
$sldsicon-doctype-pack-path3: "\ec3d";
$sldsicon-doctype-pack-path4: "\ec3e";
$sldsicon-doctype-pages-path1: "\ec3f";
$sldsicon-doctype-pages-path2: "\ec40";
$sldsicon-doctype-pages-path3: "\ec41";
$sldsicon-doctype-pages-path4: "\ec42";
$sldsicon-doctype-pdf-path1: "\ec43";
$sldsicon-doctype-pdf-path2: "\ec44";
$sldsicon-doctype-pdf-path3: "\ec45";
$sldsicon-doctype-pdf-path4: "\ec46";
$sldsicon-doctype-ppt-path1: "\ec47";
$sldsicon-doctype-ppt-path2: "\ec48";
$sldsicon-doctype-ppt-path3: "\ec49";
$sldsicon-doctype-ppt-path4: "\ec4a";
$sldsicon-doctype-psd-path1: "\ec4b";
$sldsicon-doctype-psd-path2: "\ec4c";
$sldsicon-doctype-psd-path3: "\ec4d";
$sldsicon-doctype-psd-path4: "\ec4e";
$sldsicon-doctype-quip_doc-path1: "\ec4f";
$sldsicon-doctype-quip_doc-path2: "\ec50";
$sldsicon-doctype-quip_doc-path3: "\ec51";
$sldsicon-doctype-quip_doc-path4: "\ec52";
$sldsicon-doctype-quip_sheet2-path1: "\ec53";
$sldsicon-doctype-quip_sheet2-path2: "\ec54";
$sldsicon-doctype-quip_sheet2-path3: "\ec55";
$sldsicon-doctype-quip_sheet2-path4: "\ec56";
$sldsicon-doctype-rtf-path1: "\ec57";
$sldsicon-doctype-rtf-path2: "\ec58";
$sldsicon-doctype-rtf-path3: "\ec59";
$sldsicon-doctype-rtf-path4: "\ec5a";
$sldsicon-doctype-slide-path1: "\ec5b";
$sldsicon-doctype-slide-path2: "\ec5c";
$sldsicon-doctype-slide-path3: "\ec5d";
$sldsicon-doctype-slide-path4: "\ec5e";
$sldsicon-doctype-stypi-path1: "\ec5f";
$sldsicon-doctype-stypi-path2: "\ec60";
$sldsicon-doctype-stypi-path3: "\ec61";
$sldsicon-doctype-stypi-path4: "\ec62";
$sldsicon-doctype-stypi-path5: "\ec63";
$sldsicon-doctype-txt-path1: "\ec64";
$sldsicon-doctype-txt-path2: "\ec65";
$sldsicon-doctype-txt-path3: "\ec66";
$sldsicon-doctype-txt-path4: "\ec67";
$sldsicon-doctype-unknown-path1: "\ec68";
$sldsicon-doctype-unknown-path2: "\ec69";
$sldsicon-doctype-unknown-path3: "\ec6a";
$sldsicon-doctype-video2-path1: "\ec6b";
$sldsicon-doctype-video2-path2: "\ec6c";
$sldsicon-doctype-video2-path3: "\ec6d";
$sldsicon-doctype-video2-path4: "\ec6e";
$sldsicon-doctype-visio-path1: "\ec6f";
$sldsicon-doctype-visio-path2: "\ec70";
$sldsicon-doctype-visio-path3: "\ec71";
$sldsicon-doctype-visio-path4: "\ec72";
$sldsicon-doctype-webex-path1: "\ec73";
$sldsicon-doctype-webex-path2: "\ec74";
$sldsicon-doctype-webex-path3: "\ec75";
$sldsicon-doctype-webex-path4: "\ec76";
$sldsicon-doctype-webex-path5: "\ec77";
$sldsicon-doctype-word-path1: "\ec78";
$sldsicon-doctype-word-path2: "\ec79";
$sldsicon-doctype-word-path3: "\ec7a";
$sldsicon-doctype-word-path4: "\ec7b";
$sldsicon-doctype-xml-path1: "\ec7c";
$sldsicon-doctype-xml-path2: "\ec7d";
$sldsicon-doctype-xml-path3: "\ec7e";
$sldsicon-doctype-xml-path4: "\ec7f";
$sldsicon-doctype-zip-path1: "\ec80";
$sldsicon-doctype-zip-path2: "\ec81";
$sldsicon-doctype-zip-path3: "\ec82";
$sldsicon-doctype-zip-path4: "\ec83";
$sldsicon-custom-custom1: "\eabc";
$sldsicon-custom-custom2: "\eabd";
$sldsicon-custom-custom3: "\eabe";
$sldsicon-custom-custom4: "\eabf";
$sldsicon-custom-custom5: "\eac0";
$sldsicon-custom-custom6: "\eac1";
$sldsicon-custom-custom7: "\eac2";
$sldsicon-custom-custom8: "\eac3";
$sldsicon-custom-custom9: "\eac4";
$sldsicon-custom-custom10: "\eac5";
$sldsicon-custom-custom11: "\eac6";
$sldsicon-custom-custom12: "\eac7";
$sldsicon-custom-custom13: "\eac8";
$sldsicon-custom-custom14: "\eac9";
$sldsicon-custom-custom15: "\eaca";
$sldsicon-custom-custom16: "\eacb";
$sldsicon-custom-custom17: "\eacc";
$sldsicon-custom-custom18: "\eacd";
$sldsicon-custom-custom19: "\eace";
$sldsicon-custom-custom20: "\eacf";
$sldsicon-custom-custom21: "\ead0";
$sldsicon-custom-custom22: "\ead1";
$sldsicon-custom-custom23: "\ead2";
$sldsicon-custom-custom24: "\ead3";
$sldsicon-custom-custom25: "\ead4";
$sldsicon-custom-custom26: "\ead5";
$sldsicon-custom-custom27: "\ead6";
$sldsicon-custom-custom28: "\ead7";
$sldsicon-custom-custom29: "\ead8";
$sldsicon-custom-custom30: "\ead9";
$sldsicon-custom-custom31: "\eada";
$sldsicon-custom-custom32: "\eadb";
$sldsicon-custom-custom33: "\eadc";
$sldsicon-custom-custom34: "\eadd";
$sldsicon-custom-custom35: "\eade";
$sldsicon-custom-custom36: "\eadf";
$sldsicon-custom-custom37: "\eae0";
$sldsicon-custom-custom38: "\eae1";
$sldsicon-custom-custom39: "\eae2";
$sldsicon-custom-custom40: "\eae3";
$sldsicon-custom-custom41: "\eae4";
$sldsicon-custom-custom42: "\eae5";
$sldsicon-custom-custom43: "\eae6";
$sldsicon-custom-custom44: "\eae7";
$sldsicon-custom-custom45: "\eae8";
$sldsicon-custom-custom46: "\eae9";
$sldsicon-custom-custom47: "\eaea";
$sldsicon-custom-custom48: "\eaeb";
$sldsicon-custom-custom49: "\eaec";
$sldsicon-custom-custom50: "\eaed";
$sldsicon-custom-custom51: "\eaee";
$sldsicon-custom-custom52: "\eaef";
$sldsicon-custom-custom53: "\eaf0";
$sldsicon-custom-custom54: "\eaf1";
$sldsicon-custom-custom55: "\eaf2";
$sldsicon-custom-custom56: "\eaf3";
$sldsicon-custom-custom57: "\eaf4";
$sldsicon-custom-custom58: "\eaf5";
$sldsicon-custom-custom59: "\eaf6";
$sldsicon-custom-custom60: "\eaf7";
$sldsicon-custom-custom61: "\eaf8";
$sldsicon-custom-custom62: "\eaf9";
$sldsicon-custom-custom63: "\eafa";
$sldsicon-custom-custom64: "\eafb";
$sldsicon-custom-custom65: "\eafc";
$sldsicon-custom-custom66: "\eafd";
$sldsicon-custom-custom67: "\eafe";
$sldsicon-custom-custom68: "\eaff";
$sldsicon-custom-custom69: "\eb00";
$sldsicon-custom-custom70: "\eb01";
$sldsicon-custom-custom71: "\eb02";
$sldsicon-custom-custom72: "\eb03";
$sldsicon-custom-custom73: "\eb04";
$sldsicon-custom-custom74: "\eb05";
$sldsicon-custom-custom75: "\eb06";
$sldsicon-custom-custom76: "\eb07";
$sldsicon-custom-custom77: "\eb08";
$sldsicon-custom-custom78: "\eb09";
$sldsicon-custom-custom79: "\eb0a";
$sldsicon-custom-custom80: "\eb0b";
$sldsicon-custom-custom81: "\eb0c";
$sldsicon-custom-custom82: "\eb0d";
$sldsicon-custom-custom83: "\eb0e";
$sldsicon-custom-custom84: "\eb0f";
$sldsicon-custom-custom85: "\eb10";
$sldsicon-custom-custom86: "\eb11";
$sldsicon-custom-custom87: "\eb12";
$sldsicon-custom-custom88: "\eb13";
$sldsicon-custom-custom89: "\eb14";
$sldsicon-custom-custom90: "\eb15";
$sldsicon-custom-custom91: "\eb16";
$sldsicon-custom-custom92: "\eb17";
$sldsicon-custom-custom93: "\eb18";
$sldsicon-custom-custom94: "\eb19";
$sldsicon-custom-custom95: "\eb1a";
$sldsicon-custom-custom96: "\eb1b";
$sldsicon-custom-custom97: "\eb1c";
$sldsicon-custom-custom98: "\eb1d";
$sldsicon-custom-custom99: "\eb1e";
$sldsicon-custom-custom100: "\eb1f";
$sldsicon-custom-custom101: "\eb20";
$sldsicon-custom-custom102: "\eb21";
$sldsicon-custom-custom103: "\eb22";
$sldsicon-custom-custom104: "\eb23";
$sldsicon-custom-custom105: "\eb24";
$sldsicon-custom-custom106: "\eb25";
$sldsicon-custom-custom107: "\eb26";
$sldsicon-custom-custom108: "\eb27";
$sldsicon-custom-custom109: "\eb28";
$sldsicon-custom-custom110: "\eb29";
$sldsicon-custom-custom111: "\eb2a";
$sldsicon-custom-custom112: "\eb2b";
$sldsicon-custom-custom113: "\eb2c";
$sldsicon-action-add_contact: "\eb2d";
$sldsicon-action-add_file: "\eb2e";
$sldsicon-action-add_photo_video: "\eb2f";
$sldsicon-action-add_relationship: "\eb30";
$sldsicon-action-announcement3: "\eb31";
$sldsicon-action-apex2: "\eb32";
$sldsicon-action-approval3: "\eb33";
$sldsicon-action-back2: "\eb34";
$sldsicon-action-call3: "\eb35";
$sldsicon-action-canvas2: "\eb36";
$sldsicon-action-change_owner2: "\eb37";
$sldsicon-action-change_record_type2: "\eb38";
$sldsicon-action-check2: "\eb39";
$sldsicon-action-clone: "\eb3a";
$sldsicon-action-close2: "\eb3b";
$sldsicon-action-defer: "\eb3c";
$sldsicon-action-delete2: "\eb3d";
$sldsicon-action-description2: "\eb3e";
$sldsicon-action-dial_in: "\eb3f";
$sldsicon-action-download2: "\eb40";
$sldsicon-action-edit_groups: "\eb41";
$sldsicon-action-edit_relationship: "\eb42";
$sldsicon-action-edit2: "\eb43";
$sldsicon-action-email3: "\eb44";
$sldsicon-action-fallback2: "\eb45";
$sldsicon-action-filter2: "\eb46";
$sldsicon-action-flow3: "\eb47";
$sldsicon-action-follow: "\eb48";
$sldsicon-action-following: "\eb49";
$sldsicon-action-freeze_user: "\eb4a";
$sldsicon-action-goal: "\eb4b";
$sldsicon-action-google_news: "\eb4c";
$sldsicon-action-info2: "\eb4d";
$sldsicon-action-join_group: "\eb4e";
$sldsicon-action-lead_convert: "\eb4f";
$sldsicon-action-leave_group: "\eb50";
$sldsicon-action-log_a_call3: "\eb51";
$sldsicon-action-log_event: "\eb52";
$sldsicon-action-manage_perm_sets: "\eb53";
$sldsicon-action-map: "\eb54";
$sldsicon-action-more: "\eb55";
$sldsicon-action-new_account: "\eb56";
$sldsicon-action-new_campaign: "\eb57";
$sldsicon-action-new_case: "\eb58";
$sldsicon-action-new_child_case: "\eb59";
$sldsicon-action-new_contact: "\eb5a";
$sldsicon-action-new_custom1: "\eb5b";
$sldsicon-action-new_custom2: "\eb5c";
$sldsicon-action-new_custom3: "\eb5d";
$sldsicon-action-new_custom4: "\eb5e";
$sldsicon-action-new_custom5: "\eb5f";
$sldsicon-action-new_custom6: "\eb60";
$sldsicon-action-new_custom7: "\eb61";
$sldsicon-action-new_custom8: "\eb62";
$sldsicon-action-new_custom9: "\eb63";
$sldsicon-action-new_custom10: "\eb64";
$sldsicon-action-new_custom11: "\eb65";
$sldsicon-action-new_custom12: "\eb66";
$sldsicon-action-new_custom13: "\eb67";
$sldsicon-action-new_custom14: "\eb68";
$sldsicon-action-new_custom15: "\eb69";
$sldsicon-action-new_custom16: "\eb6a";
$sldsicon-action-new_custom17: "\eb6b";
$sldsicon-action-new_custom18: "\eb6c";
$sldsicon-action-new_custom19: "\eb6d";
$sldsicon-action-new_custom20: "\eb6e";
$sldsicon-action-new_custom21: "\eb6f";
$sldsicon-action-new_custom22: "\eb70";
$sldsicon-action-new_custom23: "\eb71";
$sldsicon-action-new_custom24: "\eb72";
$sldsicon-action-new_custom25: "\eb73";
$sldsicon-action-new_custom26: "\eb74";
$sldsicon-action-new_custom27: "\eb75";
$sldsicon-action-new_custom28: "\eb76";
$sldsicon-action-new_custom29: "\eb77";
$sldsicon-action-new_custom30: "\eb78";
$sldsicon-action-new_custom31: "\eb79";
$sldsicon-action-new_custom32: "\eb7a";
$sldsicon-action-new_custom33: "\eb7b";
$sldsicon-action-new_custom34: "\eb7c";
$sldsicon-action-new_custom35: "\eb7d";
$sldsicon-action-new_custom36: "\eb7e";
$sldsicon-action-new_custom37: "\eb7f";
$sldsicon-action-new_custom38: "\eb80";
$sldsicon-action-new_custom39: "\eb81";
$sldsicon-action-new_custom40: "\eb82";
$sldsicon-action-new_custom41: "\eb83";
$sldsicon-action-new_custom42: "\eb84";
$sldsicon-action-new_custom43: "\eb85";
$sldsicon-action-new_custom44: "\eb86";
$sldsicon-action-new_custom45: "\eb87";
$sldsicon-action-new_custom46: "\eb88";
$sldsicon-action-new_custom47: "\eb89";
$sldsicon-action-new_custom48: "\eb8a";
$sldsicon-action-new_custom49: "\eb8b";
$sldsicon-action-new_custom50: "\eb8c";
$sldsicon-action-new_custom51: "\eb8d";
$sldsicon-action-new_custom52: "\eb8e";
$sldsicon-action-new_custom53: "\eb8f";
$sldsicon-action-new_custom54: "\eb90";
$sldsicon-action-new_custom55: "\eb91";
$sldsicon-action-new_custom56: "\eb92";
$sldsicon-action-new_custom57: "\eb93";
$sldsicon-action-new_custom58: "\eb94";
$sldsicon-action-new_custom59: "\eb95";
$sldsicon-action-new_custom60: "\eb96";
$sldsicon-action-new_custom61: "\eb97";
$sldsicon-action-new_custom62: "\eb98";
$sldsicon-action-new_custom63: "\eb99";
$sldsicon-action-new_custom64: "\eb9a";
$sldsicon-action-new_custom65: "\eb9b";
$sldsicon-action-new_custom66: "\eb9c";
$sldsicon-action-new_custom67: "\eb9d";
$sldsicon-action-new_custom68: "\eb9e";
$sldsicon-action-new_custom69: "\eb9f";
$sldsicon-action-new_custom70: "\eba0";
$sldsicon-action-new_custom71: "\eba1";
$sldsicon-action-new_custom72: "\eba2";
$sldsicon-action-new_custom73: "\eba3";
$sldsicon-action-new_custom74: "\eba4";
$sldsicon-action-new_custom75: "\eba5";
$sldsicon-action-new_custom76: "\eba6";
$sldsicon-action-new_custom77: "\eba7";
$sldsicon-action-new_custom78: "\eba8";
$sldsicon-action-new_custom79: "\eba9";
$sldsicon-action-new_custom80: "\ebaa";
$sldsicon-action-new_custom81: "\ebab";
$sldsicon-action-new_custom82: "\ebac";
$sldsicon-action-new_custom83: "\ebad";
$sldsicon-action-new_custom84: "\ebae";
$sldsicon-action-new_custom85: "\ebaf";
$sldsicon-action-new_custom86: "\ebb0";
$sldsicon-action-new_custom87: "\ebb1";
$sldsicon-action-new_custom88: "\ebb2";
$sldsicon-action-new_custom89: "\ebb3";
$sldsicon-action-new_custom90: "\ebb4";
$sldsicon-action-new_custom91: "\ebb5";
$sldsicon-action-new_custom92: "\ebb6";
$sldsicon-action-new_custom93: "\ebb7";
$sldsicon-action-new_custom94: "\ebb8";
$sldsicon-action-new_custom95: "\ebb9";
$sldsicon-action-new_custom96: "\ebba";
$sldsicon-action-new_custom97: "\ebbb";
$sldsicon-action-new_custom98: "\ebbc";
$sldsicon-action-new_custom99: "\ebbd";
$sldsicon-action-new_custom100: "\ebbe";
$sldsicon-action-new_event: "\ebbf";
$sldsicon-action-new_group: "\ebc0";
$sldsicon-action-new_lead: "\ebc1";
$sldsicon-action-new_note: "\ebc2";
$sldsicon-action-new_notebook: "\ebc3";
$sldsicon-action-new_opportunity: "\ebc4";
$sldsicon-action-new_person_account: "\ebc5";
$sldsicon-action-new_task: "\ebc6";
$sldsicon-action-new2: "\ebc7";
$sldsicon-action-password_unlock: "\ebc8";
$sldsicon-action-preview2: "\ebc9";
$sldsicon-action-priority2: "\ebca";
$sldsicon-action-question_post_action: "\ebcb";
$sldsicon-action-quote: "\ebcc";
$sldsicon-action-recall: "\ebcd";
$sldsicon-action-record3: "\ebce";
$sldsicon-action-refresh2: "\ebcf";
$sldsicon-action-reject: "\ebd0";
$sldsicon-action-remove_relationship: "\ebd1";
$sldsicon-action-remove: "\ebd2";
$sldsicon-action-reset_password2: "\ebd3";
$sldsicon-action-share_file2: "\ebd4";
$sldsicon-action-share_link: "\ebd5";
$sldsicon-action-share_poll: "\ebd6";
$sldsicon-action-share_post2: "\ebd7";
$sldsicon-action-share_thanks: "\ebd8";
$sldsicon-action-share2: "\ebd9";
$sldsicon-action-sort2: "\ebda";
$sldsicon-action-submit_for_approval: "\ebdb";
$sldsicon-action-update_status: "\ebdc";
$sldsicon-action-update: "\ebdd";
$sldsicon-action-upload2: "\ebde";
$sldsicon-action-user_activation: "\ebdf";
$sldsicon-action-user3: "\ebe0";
$sldsicon-action-view_relationship: "\ebe1";
$sldsicon-action-web_link: "\ebe2";

